.tasks-container {
  margin-bottom: 1.25rem;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media (min-width: 640px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.75rem;
  }

  @media (min-width: 991px) {
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
  }
}
