.btn {
  border-radius: 2.5rem;
  height: 2.5rem;
  color: var(--white);
  padding: 0.5rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  cursor: pointer;
}

.btn-save {
  background-color: var(--blue);
  border: none;

  &:hover {
    background-color: #5e8df5;
  }
}

.btn-cancel,
.btn-cancel-light {
  background-color: transparent;
}

.btn-cancel {
  border: 2px solid var(--light-gray);

  &:hover {
    border-color: var(--white);
  }
}

.btn-cancel-light {
  border: 2px solid var(--blue);
  color: var(--blue);

  &:hover {
    border-color: var(--light-gray);
    color: var(--light-gray);
  }
}

.btn-delete {
  background-color: var(--light-gray);
  border: 2px solid transparent;

  &:hover {
    border-color: var(--white);
  }
}

.btn-disabled {
  opacity: 0.3;

  &:hover {
    border-color: transparent;
  }
}
