.btn {
  background-color: transparent;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  color: var(--white);

  &:hover {
    outline: 3px solid var(--blue);
  }
}

.btn-opened {
  width: 100%;
  border-radius: 2.813rem;
  gap: 0.625rem;
  padding-left: 0.25rem;
  justify-content: flex-start;
}
