.container {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;

  img {
    object-fit: contain;
    width: 1.25rem;
    height: 1.25rem;
  }

  &:hover {
    outline-offset: 0.25rem;
    outline: 3px solid var(--blue);
  }
}
