.label {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  color: var(--light-gray);
  cursor: pointer;
}

.btn-options {
  background-color: transparent;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  color: var(--white);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
  height: 1.875rem;
  padding: 0.375rem 0.75rem;
  z-index: 200;

  &:hover,
  &:focus {
    background-color: var(--blue);
  }
}

.selected {
  color: var(--white);
}

.details {
  z-index: 200;
}
