.backdrop-container {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  padding-top: 10rem;
  display: grid;
  justify-items: center;
  align-items: start;

  @media (min-width: 640px) {
    padding-top: 0;
    place-items: center;
  }
}

.modal {
  background-color: var(--dark-gray);
  padding: 1rem;
  border-radius: 0.75rem;
  position: relative;
  width: 90%;

  @media (min-width: 640px) {
    padding: 1.5rem;
    width: 36rem;
  }
}

.modal-light {
  background-color: var(--white);
}

.icon {
  border: 3px solid transparent;
  background-color: transparent;
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;

  &:hover {
    border-color: var(--blue);
  }
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 0.5rem;

  p:nth-child(1) {
    font-size: 1rem;
  }
}

.title-light {
  color: var(--blue);
}
