:root {
  --white: #fef7ee;
  --black: #191b1f;
  --dark-gray: #2a2d32;
  --medium-gray: #3a3e44;
  --light-gray: #7e878d;
  --red: #aa2e26;
  --blue: #3662e3;
  --yellow: #c18d30;
  --green: #4ca154;
  --light-pink: #f9e3e2;
  --light-yellow: #fdf9c9;
  --light-green: #e2fbe8;
  --light-blue: #dee9fc;
  --medium-blue: #c4dafb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
}
