.item {
  list-style: none;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  border-radius: 50%;
  position: relative;
  overflow: hidden;

  &:hover {
    outline: 3px solid var(--blue);
  }
}

.active {
  outline: 3px solid var(--light-gray);
}

.active-light {
  outline: 3px solid var(--medium-blue);
}

.item-opened {
  width: 100%;
  border-radius: 2.813rem;
}

.link {
  display: flex;
  align-items: center;
  color: var(--white);
  text-decoration: none;
}

.link-light {
  color: var(--black);
}

.icon {
  display: grid;
  place-items: center;
  width: 2.5rem;
  height: 2.5rem;
}

.title {
  max-width: 65%;
  display: flex;
  align-items: center;
  position: absolute;
  left: 10rem;
  opacity: 0;
  transition: 1s ease-in-out;
}

.title-opened {
  opacity: 1;
  left: 4rem;
}
