.navbar {
  width: 4.5rem;
  background-color: var(--black);
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  padding: 1rem;
  transition: width 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar-opened {
  width: 18.5rem;
}

.light {
  background-color: var(--white);
}

.btn-menu {
  border: none;
  background-color: var(--dark-gray);
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: grid;
  place-items: center;
  cursor: pointer;
  margin-bottom: 2.25rem;
}

.btn-menu-light {
  background-color: var(--light-blue);
}

.container-buttons {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
}

.container-btns-save-cancel {
  display: flex;
  gap: 0.75rem;
}

.container-board-logos {
  display: flex;
  gap: 1rem;
  margin: 1.5rem 0;
}

.backdrop-navbar {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
}

.radioBtn {
  opacity: 0;
  position: absolute;
  top: -100000rem;
  left: -100000rem;
}
