.container {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.title {
  font-weight: 500;
  font-size: 0.75rem;
  color: var(--light-gray);
  margin-bottom: 0.25rem;
}

.title-light {
  color: var(--blue);
}

.format {
  background-color: transparent;
  border: 3px solid var(--medium-gray);
  border-radius: 0.75rem;
  height: 2.5rem;
  padding: 0.5rem;
  color: var(--white);
  font-weight: 500;

  &:focus,
  &:hover {
    border: 3px solid var(--blue);
    outline: none;
  }
}

.format-light {
  border-color: var(--medium-blue);
  color: var(--black);

  span {
    color: var(--light-gray);
  }
}

.wrapper {
  position: relative;
  width: 100%;
}

.container-options {
  position: absolute;
  bottom: -9rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--black);
  border-radius: 0.75rem;
  padding: 0.5rem;
}

.container-options-light {
  background-color: var(--medium-blue);
}
